package components

templ Notification(msg string, bgclass string) {
  <div class={"notification max-w-sm m-2 p-4 rounded-xl shadow animate__animated animate__fadeInRight cursor-pointer", bgclass}
  onclick="closeNotification(this)">
    <script>setTimeout(() => document.getElementsByClassName("notification")[0].click(), 5000)</script>
    <label class="text-lg color-text">{msg}</label>
  </div>
}
