package collections

import (
  "strconv"
  "goweb/db/channels"
)

templ Channels(list []channels.DataModel) {
  <div hidden>dump div</div>
  for _, channel := range list {
    <a class="w-full py-2 my-1 text-2xl text-center bg-text color-secondary cursor-pointer" 
    hx-get={"/hub/" + strconv.Itoa(channel.Id) + "/sections"}
    hx-swap="innerHTML"
    hx-target="#sections-container">
      {channel.Name}
    </a>
  }
}
