package collections

import (
  "goweb/db/videos"
  "goweb/ui/components"
)

templ Videos(list []videos.DataModel) {
  <div hidden>dump div</div>
  for _, video := range list {
    @components.VideoCard(video.Title, video.Url)
  }
}
